@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');      

body {
    width: 40%;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

table thead tr th h1 {
    color: white;
    background-color: #0752A8;
    text-transform: uppercase;
    float: left;
}

thead {
    background-color: #0752A8;
}

table thead tr th h1 span {
    color: yellow;
    font-size: 50px;
}

table tbody tr td h2 {
    color: #0752A8;
    text-transform: uppercase;
    font-weight: 900;
}

table tbody tr td p {
    color: black;
    font-weight: 500;
}