.gauche {
    background-color: #3e53f4;
    padding-bottom: 500;
    text-align: center;
    color: white;
    margin-left: 150;
    margin-right: 150;
    position: relative;
    right: 150;
}

.droit {
    background-color: #efaa50;
    padding-bottom: 500;
    text-align: center;
    color: white;
    margin-left: 150;
    margin-right: 150;
    position: relative;
    left: 150;
    bottom:537;
}

footer {
    background-color: #8ef47c;
    text-align: center;
    padding-bottom: 50;
    position: relative;
    bottom: 550;
    color: white;
}